fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
psycopg[binary]==3.3.4
passlib[bcrypt]
python-jose[cryptography]
bcrypt
requests
pandas>=2.2.0
numpy>=2.0.0
scikit-learn>=1.5.0
xgboost>=2.0.3
joblib>=1.4.0
slowapi
email-validator
openai
langchain
langchain-openai
langchain-community
langchain-core
langchain-google-genai
pypdf
onnxruntime
Pillow
